// ============================================ //
// COLORS //

$clr-orange: #FF6B00;
$clr-white: #FFFFFF;
$clr-purple: #5126FF;
$clr-gray: #292929;

// ============================================ //

// ============================================ //
// FONT //

$title-size-xs: 35px;
$subtitle-size-xs: 20px;
$paragraph-size-xs: 17px;

// ============================================ //