.menu {
  color: $clr-white;
  background: $clr-orange;
  height: 50px;
  @include sm(height, 60px);
  @include lg-block() {
    background: $clr-gray;

  };

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__phone {
    @include sm-block() {
      width: 28px;
    };
    @include lg-block() {
      display: none;
    };

    & img {
      width: 100%;
    }
  }

  &__logo {
    @include sm-block() {
      width: 161px;
    };

    transform: scale3d(1, 1, 1);
    transition: transform .1s ease;

    &:hover {
      cursor: pointer;
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }

  &__nav {
    display: none;

    @include lg-block() {
      display: block;
    };
  }

  &__li {
    display: inline-block;
    margin-right: 55px;
    position: relative;

    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    transition: color .2s ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $clr-orange;
      cursor: pointer;

      &:after {
        width: 100%;
        background-color: $clr-orange;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      position: absolute;
      top: 100%;
      left: 0;

      background: $clr-white;
      transition: width .3s ease-in-out;
    }
  }

  &__burger {
    $line-height: 3px;
    $line-width: 22px;
    $line-space: 4px;

    $line-width-sm: 44px;
    $line-height-sm: 4.5px;
    $line-space-sm: 7.5px;

    position: relative;
    display: block;
    width: $line-width;
    height: #{$line-height * 3 + $line-space * 2};

    @include sm-block() {
      width: $line-width-sm;
      height: #{$line-height-sm * 3 + $line-space-sm * 2};
    };

    @include lg-block() {
      display: none;
    };
    
    &:hover {
      cursor: pointer;
    }

    &-middle {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: $line-width;
      height: $line-height;
      @include sm-block() {
        width: $line-width-sm;
        height: $line-height-sm;
      };

      background: $clr-white;
      border-radius: 10px;

      transition: width ease .3s;
      .active & {
        width: 0;
      }

      &:before {
        content: '';
        display: block;

        position: absolute;
        bottom: calc(100% + #{$line-space});
        @include sm(bottom, calc(100% + #{$line-space-sm}));
        left: 0;

        width: $line-width;
        @include sm(width, $line-width-sm);
        height: inherit;
        background: inherit;
        border-radius: 10px;
        
        transform: rotateZ(0deg);
        transition-property: transform, bottom;
        transform-origin: center;
        transition-timing-function: ease;
        transition-duration: .4s, .2s;
        transition-delay: .2s, 0s;
        
        .active & {
          transform: rotateZ(45deg);
          bottom: 0;
        }
      }

      &:after {
        content: '';
        display: block;

        position: absolute;
        top: calc(100% + #{$line-space});
        @include sm(top, calc(100% + #{$line-space-sm}));

        left: 0;

        width: $line-width;
        @include sm(width, $line-width-sm);
        height: inherit;
        background: inherit;
        border-radius: 10px;

        transform: rotateZ(0deg);
        transform-origin: center;

        transition-property: transform, top;
        transition-timing-function: ease;
        transition-duration: .4s, .2s;
        transition-delay: .2s, 0s;

        .active & {
          transform: rotateZ(-45deg);
          top: 0;
        }
      }
    }
  }
}