.menu {
  color: $clr-white;
  background: $clr-orange;
  height: 50px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__nav {
    display: none;
  }

  &__burger {
    $line-height: 3px;
    $line-width: 22px;
    $line-space: 4px;

    position: relative;
    display: block;
    width: $line-width;
    height: #{$line-height * 3 + $line-space * 2};
    
    &:hover {
      cursor: pointer;
    }

    &-middle {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: $line-width;
      height: $line-height;
      background: $clr-white;
      border-radius: 10px;

      transition: width ease .3s;
      .active & {
        width: 0;
      }

      &:before {
        content: '';
        display: block;

        position: absolute;
        bottom: calc(100% + #{$line-space});
        left: 0;

        width: $line-width;
        height: $line-height;
        background: inherit;
        border-radius: 10px;
        
        transform: rotateZ(0deg);
        transform-origin: left top;
        transition: transform ease .3s;
        
        .active & {
          transform: rotateZ(45deg);
        }
      }

      &:after {
        content: '';
        display: block;

        position: absolute;
        top: calc(100% + #{$line-space});
        left: 0;

        width: $line-width;
        height: $line-height;
        background: inherit;
        border-radius: 10px;

        transform: rotateZ(0deg);
        transform-origin: left bottom;
        transition: transform ease .3s, top ease .3s;

        .active & {
          transform: rotateZ(-45deg);
          top: calc(100% + #{$line-space} + 1px);
        }
      }
    }
  }
}