.menu {
  color: $clr-white;
  background: $clr-orange;
  height: 60px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__phone {
    & img {
      width: 100%;
    }

    @include sm-block() {
      width: 28px;
    };
  }

  &__logo {
    & img {
      width: 100%;
    }

    @include sm-block() {
      width: 161px;
    };
  }

  &__nav {
    display: none;
  }

  &__burger {
    $line-height: 3px;
    $line-width: 22px;
    $line-space: 4px;

    @include sm-block() {
      $line-width: 44px;
      $line-height: 4.5px;
      $line-space: 7.5px;
    };

    position: relative;
    display: block;
    width: $line-width;
    height: #{$line-height * 3 + $line-space * 2};
    
    &:hover {
      cursor: pointer;
    }

    &-middle {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: $line-width;
      height: $line-height;
      background: $clr-white;
      border-radius: 10px;

      transition: width ease .3s;
      .active & {
        width: 0;
      }

      &:before {
        content: '';
        display: block;

        position: absolute;
        bottom: calc(100% + #{$line-space});
        left: 0;

        width: $line-width;
        height: $line-height;
        background: inherit;
        border-radius: 10px;
        
        transform: rotateZ(0deg);
        transition-property: transform, bottom;
        transform-origin: center;
        transition-timing-function: ease;
        transition-duration: .4s, .2s;
        transition-delay: .2s, 0s;
        
        .active & {
          transform: rotateZ(45deg);
          bottom: 0;
        }
      }

      &:after {
        content: '';
        display: block;

        position: absolute;
        top: calc(100% + #{$line-space});
        left: 0;

        width: $line-width;
        height: $line-height;
        background: inherit;
        border-radius: 10px;

        transform: rotateZ(0deg);
        transform-origin: center;

        transition-property: transform, top;
        transition-timing-function: ease;
        transition-duration: .4s, .2s;
        transition-delay: .2s, 0s;

        .active & {
          transform: rotateZ(-45deg);
          top: 0;
        }
      }
    }
  }
}