.button-purple {
  $font-size: 11px; // xs
  $line-height: 1em;
  $letter-spacing: .185em;
  $padding-vert: 23px;

  display: inline-block;
  margin: $padding-vert 0;

  & > label {
    padding: $padding-vert 30px;
    border: 4px solid $clr-purple;
    border-radius: 50px;

    font-size: $font-size;
    line-height: $line-height;
    font-weight: 700;
    letter-spacing: $letter-spacing;
  }

  & > input {
    display: none;
  }
}