.button-gradient {
  $line-height: 1em;
  $letter-spacing: .185em;
  $color: $clr-white;
  $color-gradient-1: $clr-purple;
  $color-gradient-2: #8526FF;

  box-sizing: border-box;
  border-radius: 100px;

  outline: none;
  @supports (appearance: none) {
    appearance: none;
  }

  background: linear-gradient(95deg, $color-gradient-1, $color-gradient-2);
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-weight: 700;
  color: $color;
  border: 0;

  transition: transform .1s ease;
  transform: scale3d(1, 1, 1) translate(0, 0);

  &:active {
    transform: scale3d(.99, .99, 1) translate(1px, 1px);
  }

  &:focus {
    //transform: scale3d(1, 1, 1) translate(2px, 2px);
  }

  &:hover {
    cursor: pointer;
    @include lg-block() {
      transform: scale3d(1.05, 1.05, 1.05);
    };
  }

  &[type="button"] {
    width: 176px;
    height: 55px;

    font-size: 11px;
  }

  &[type="submit"] {
    width: 160px;
    height: 40px;

    font-size: 12px;
  }
}
