.button-purple {
  $font-size: 11px; // xs
  $line-height: 1em;
  $letter-spacing: .185em;
  $padding-vert: 23px;
  $border-width: 4px;

  $border-clr: $clr-purple;
  $border-clr--active: lighten($border-clr, 5%);

  display: inline-block;
  margin: #{$padding-vert + $border-width} 0;
  font-size: $font-size;

  & > label {
    padding: $padding-vert 30px;
    border: $border-width solid $border-clr;
    border-radius: 100px;

    font-size: inherit;
    line-height: $line-height;
    font-weight: 700;
    letter-spacing: $letter-spacing;
    transition: border .2s ease;

    &:active {
      border: $border-width solid $border-clr--active;
    }
  }

  & > input {
    display: none;
  }
}