.about {
  position: relative;
  background: $clr-gray;
  padding: 45px 0 248px;

  color: $clr-white;

  &__title {
    font-size: $title-size;
    @include sm(font-size, $title-size-sm);
    line-height: 1em;
    font-weight: 700;

    margin-bottom: 27px;
    @include sm(margin-bottom, 51px);
  }

  &__subtitle {
    font-size: $paragraph-size;
    @include sm(font-size, $paragraph-size-sm);
    font-weight: 300;
    line-height: 33px;

    margin-bottom: 40px;
  }

  &__bg-shape {
    z-index: $z-index-bg;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    left: 0;

    & > img {
      width: 100%;
    }
    @include sm(width, 180px);
  }

  &__bg-laptop {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 45%;

    & > img {
      margin-left: auto;
    }
  }
}