.advantages {
  padding: 102px 0 57px;

  background-image: url('../images/advantages-bg-480.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include sm-block() {
    background-image: url('../images/advantages-bg-768.jpg');
    padding: 148px 0 48px;
  };

  @include md-block() {
    padding: 200px 0 48px;
  };

  color: $clr-white;

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__items {
    @include row-flex();
    align-items: center;
  }

  &__item {
    @include col();
    @include size(12);
    @include size-sm(6);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;

    @include sm-block() {
      min-height: 250px;
    };

    &:last-child {
      margin-bottom: 0;

      @include sm(margin-bottom, 60px);
    }

    &-img {
      width: 130px;
      display: inline-block;
      margin-bottom: 10px;

      @include sm-block() {
        margin-bottom: 20px;
        width: 196px;
      };

      & > img {
        filter: drop-shadow(2px -2px 0px $clr-purple);
      }
    }
  }
}