.contacts {
  color: $clr-white;
  background: $clr-gray;
  padding: 15px 0 20px;

  &__title {
    margin-bottom: 44px;
    text-align: center;
  }

  &__contact {
    margin-left: calc(100% / 12);
    margin-bottom: 29px;

    &-subtitle {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 19px;

      @include sm(font-size, 20px);
    }

    &-phone, &-vk {
      margin-bottom: 9px;

      &:last-child {
        margin-bottom: 0;
      }

      .img-wrap {
        width: 20px;
        @include sm(width, 30px);

        display: inline-block;
        margin-right: 4px;
      }

      & img {
        display: inline-block;
        vertical-align: middle;
      }

      & span {
        text-decoration: underline;
        @include sm(font-size, 20px);
      }
    }
  }

  &__form {
    border: 3px solid $clr-purple;
    padding: 20px 25px;
    @include sm(padding, 25px 35px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .title {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 17px;
      @include sm-block() {
        font-size: 25px;
        margin-bottom: 25px;
      };
    }

    .input, .textarea {
      $border-color: #C2C2C2;
      $border-width: 1px;

      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      padding: 10px 9px 9px 9px;
      color: #fff;
      font-size: 12px;
      @include sm-block() {
        font-size: 16px;
      };

      background-color: inherit;
      border: $border-width solid $border-color;
      border-radius: 3px;

      &::placeholder {
        color: #999999;
        font-size: inherit;
      }
    }

    .input {
      height: 35px;
      margin-bottom: 15px;
      @include sm(margin-bottom, 20px);
    }

    .textarea {
      min-height: 35px;
      resize: none;
      margin-bottom: 10px;
      @include sm(margin-bottom, 15px);
    }

    .button {
      @supports (appearance: none){
        appearance: none;
      }

      border: none;
      padding: 15px 40px;
      color: $clr-white;
      border-radius: 50px;
      font-size: 12px;
      letter-spacing: .05em;
      font-weight: 400;
      background: linear-gradient(-45deg, #8526FF, $clr-purple);
      margin-bottom: 5px;

      @include sm-block() {
        font-size: 14px;
        padding: 15px 60px;
      };
    }

    .agreement {
      max-width: 150px;
      text-align: center;
      font-size: 7px;
      color: #999999;
    }
  }
}