.prices {
  background: $clr-gray;
  padding: 45px 0 28px;
  color: $clr-white;

  &__title {
    text-align: center;
    margin-bottom: 55px;

    @include sm(margin-bottom, 70px);
  }

  &__list {
    margin-bottom: 60px;

    &-li {
      margin-bottom: 25px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-text {
      @include sm-block() {
        font-size: 24px;
      };
    }

    &-price {
      color: $clr-orange;
      padding: 4px 4px 3px 9px;
      border: 1px solid $clr-orange;
      border-radius: 50px;
      min-width: 66px;
      box-sizing: border-box;
      text-align: center;
      font-size: 20px;

      position: relative;

      &:hover {
        cursor: pointer;
      }

      &:after {
        content: "₽";
        color: inherit;
        display: inline-block;
      }

      &.active:after {
        animation: shake;
        animation-duration: 1s;
      }
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-.5px, 0, 0);
        }

        20%, 80% {
          transform: translate3d(1px, 0, 0);
        }

        30%, 50%, 70% {
          transform: translate3d(-2px, 0, 0);
        }

        40%, 60% {
          transform: translate3d(2px, 0, 0);
        }
      }

      &:before {
        content: 'от';
        position: absolute;
        top: 50%; left: 0;
        transform: translateY(-50%) translateX(-50%);
        
        background: $clr-orange;
        padding: 3px;
        border-radius: 50px;

        font-size: 8px;
        font-weight: 500;
        color: $clr-white;
      }
    }
  }

  &__contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &-tip {
      margin-bottom: 20px;

      font-size: 16px;
      text-align: center;
    }
  }
}