.sales {
  background: $clr-gray;
  color: $clr-white;
  @include lg(padding, 100px 0 150px);

  &__bg-shape {
    margin-bottom: 10px;
    @include lg(display, none);
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
    @include sm(margin-bottom, 70px);
  }

  &__content {
    @include lg-block() {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    };
  }

  &__list {
    margin-bottom: 31px;

    @include lg-block() {
      max-width: calc(100% / 12 * 6 - 60px);
      margin-left: calc(100% / 12 * 1 + 30px);
      margin-right: 30px;
      margin-bottom: 0;
    };
  }

  &__list-li {
    // COMMON
    $left-shift: 9px;

    // XS
    $marker-width: 20px;
    $marker-height: 20px;

    // SM
    $marker-width-sm: 30px;
    $marker-height-sm: 30px;

    // MD
    $marker-width-md: 50px;
    $marker-height-md: 50px;

    // LG
    $marker-width-lg: 60px;
    $marker-height-lg: 60px;
    $left-shift-lg: 30px;

    position: relative;
    margin-left: #{$left-shift + $marker-width};
    margin-bottom: 20px;
    font-weight: 300;

    @include sm-block() {
      font-size: 24px;
      margin-left: #{$left-shift + $marker-width-sm};
    };

    @include md-block() {
      font-size: 30px;
      margin-left: #{$left-shift + $marker-width-md};
    };

    @include lg-block() {
      margin-bottom: 60px;
      font-size: 35px;
      margin-left: #{$left-shift-lg + $marker-width-lg};
    };

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';

      width: $marker-width;
      height: $marker-height;
      @include sm-block() {
        width: $marker-width-sm;
        height: $marker-height-sm;
      };

      @include md-block() {
        width: $marker-width-md;
        height: $marker-height-md;
      };

      @include lg-block() {
        width: $marker-width-lg;
        height: $marker-height-lg;
      };

      background: url("../images/svg/sales__marker.svg") no-repeat center;
      background-size: 100%;

      display: block;
      position: absolute;
      right: calc(100% + #{$left-shift-lg});
      top: 50%;

      transform: translateY(-50%);
    }
  }

  &__person {
    position: relative;
    left: -100%;
    transition: left 1s ease-in-out;

    @include lg-block() {
      display: none;
    };

    &.scrolled {
      left: 0;
    }

    &-lg {
      display: none;
      overflow: hidden;
      @include lg(display, block);

      border-radius: 150px;
    }
  }
}