.services {
  padding: 100px 0 110px;
  position: relative;

  background-image: url('../images/services-bg-480.jpg');
  background-color: $clr-gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include md(background-image, url('../images/services-bg-768.jpg'));
  @include lg-block() {
    padding: 49px 0 75px;

    background-image: none;
    background-color: $clr-white;
  };

  .wrapper {
    position: relative;
    z-index: 10;
  }

  &__title {
    margin-bottom: 48px;

    text-align: center;
    color: $clr-white;

    @include sm(margin-bottom, 71px);
    @include md(margin-bottom, 117px);
    @include lg-block() {
      color: #000;

      &:after {
        background-color: #000;
      }
    };
  }

  &__items {
    @include row-flex();
    justify-content: center;
  }

  &__item {
    $circle-width: 60px;
    $circle-height: 60px;

    @include col();
    @include size(8);
    @include size-sm(6);
    @include size-lg(3);
    display: flex;
    flex-flow: column nowrap;
    height: 160px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    text-align: center;


    @include sm-block() {
      height: unset;
    };

    @include md-block() {
      margin-bottom: 96px;
    };

    @include lg-block() {
      margin-bottom: 57px;
    };

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(4), &:nth-child(5),
    &:nth-child(7), &:nth-child(8) {
      display: none;
      @include lg(display, block);
    }

    &-text {
      color: $clr-orange;

      @include md-block() {
        font-size: 40px;
      };

      @include lg-block() {
        color: #000;
      };
    }

    &-img {
      width: 128px;
      height: 128px;

      display: flex;
      align-items: center;
      justify-content: center;

      @include sm-block() {
        width: 195px;
        height: 195px;
        background: $clr-purple;
        border-radius: 50%;
      };

      @include md-block() {
        width: 304px;
        height: 304px;
        margin-bottom: 48px;
      };

      @include lg-block() {
        margin-bottom: 20px;
      };

      img {
        position: relative;
        vertical-align: middle;
        z-index: 2;

        top: 50%; transform: translateY(-50%);
      }

      .img-wrap {
        position: relative;
        display: inline-block;

        width: 128px;
        height: 128px;

        @include md-block() {
          width: 196px;
          height: 196px;
        };
      }

      .img-wrap:after {
        @include sm(display, none);

        content: '';
        width: $circle-width;
        height: $circle-height;

        position: absolute;
        top: -#{$circle-height / 2};
        z-index: 1;

        background: $clr-purple;
        border-radius: 50%;
      }
    }

    &:nth-child(2n - 1) &-img {
      .img-wrap:after {
        left: -#{$circle-width / 2};
      }
    }

    &:nth-child(2n) &-img {
      .img-wrap:after {
        right: -#{$circle-width / 2};
      }
    }
  }

  // TODO: replace svg triangle to css borders
  &__bg-shape {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-50%);

    @include sm(width, 180px);
    @include md(width, 230px);
    @include lg(display, none);

    & > img {
      transform: rotateY(180deg) ;
    }
  }

  &__gearwheel,
  &__phone,
  &__laptop {
    display: none;
    position: absolute;

    @include lg(display, block);
  }

  &__gearwheel {
    top: 0;
    left: 80px;
    width: 92px;
    height: 92px;
  }

  &__phone {
    top: 26px;
    right: -155px;
    z-index: 0;
  }

  &__laptop {
    left: 0;
    bottom: -260px;
  }
}