.services {
  background: $clr-gray url('../images/services-bg-xs.jpg') no-repeat center;
  background-size: cover;
  padding: 100px 0 110px;
  position: relative;

  &__title {
    text-align: center;

    color: $clr-white;
    font-size: $subtitle-size;
    font-weight: $subtitle-weight;
    margin-bottom: 48px;
  }

  &__items {
    @include row-flex();
    justify-content: center;

    color: $clr-orange;
  }

  &__item {
    @include col();
    @include size(8);

    $circle-width: 60px;
    $circle-height: 60px;

    text-align: center;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      width: 128px;
      height: 128px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      img {
        position: relative;
        z-index: 2;
      }

      .img-wrap {
        position: relative;
        display: inline-block;
      }

      .img-wrap:after {
        content: '';
        width: $circle-width;
        height: $circle-height;

        position: absolute;
        top: -#{$circle-height / 2};
        z-index: 1;

        background: $clr-purple;
        border-radius: 50px;
      }
    }

    &:nth-child(2n - 1) &-img {
      .img-wrap:after {
        left: -#{$circle-width / 2};
      }
    }

    &:nth-child(2n) &-img {
      .img-wrap:after {
        right: -#{$circle-width / 2};
      }
    }
  }
  
  &__bg-shape {
    position: absolute;
    top: 100%;
    right: 0;

    transform: translateY(-50%);
    
    & > img {
      transform: rotateY(180deg) ;
    }
  }
}