.services {
  background: $clr-gray url('../images/services-bg-xs.jpg') no-repeat center;
  background-size: cover;
  padding: 84px 0 110px;
  position: relative;

  &__title {
    text-align: center;

    color: $clr-white;
    font-size: $subtitle-size;
    font-weight: $subtitle-weight;
    margin-bottom: 48px;
  }

  &__items {
    //display: flex;
    //flex-flow: column nowrap;
    //align-items: center;

    @include row-flex();
    justify-content: center;
    padding-top: 25px;

    color: $clr-orange;
  }

  &__item {
    @include col();
    @include size(8);

    $circle-width: 60px;
    $circle-height: 60px;

    text-align: center;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 100%;
      z-index: 1;

      &:after {
        content: '';
        width: $circle-width;
        height: $circle-height;

        position: absolute;
        //top: -#{$circle-height / 2};
        z-index: -1;

        background: $clr-purple;
        border-radius: 50px;
      }
    }

    // TODO: create mixin / optimize items block
    $multiplier: 100% / 128;
    &:nth-child(1) &-img {
      $offset-top: 19;
      $offset-bottom: $offset-top;
      margin-bottom: -#{$offset-bottom}px;

      &:after {
        top: calc(#{$multiplier} * #{$offset-top} - #{$circle-height / 2});
        left: -#{$circle-width / 2};
      }
    }

    &:nth-child(2) &-img {
      $offset-right: 11;
      $offset-bottom: 20;
      margin-bottom: -#{$offset-bottom}px;

      &:after {
        top: 0;
        right: calc(-#{$circle-width / 2} + #{$multiplier} * #{$offset-right});
      }
    }

    &:nth-child(3) &-img {
      $offset-top: 7;
      $offset-bottom: $offset-top;
      margin-bottom: -#{$offset-bottom}px;

      &:after {
        top: calc(#{$multiplier} * #{$offset-top} - #{$circle-height / 2});
        left: -#{$circle-width / 2};
      }
    }

    &:nth-child(4) &-img {
      $offset-right: 28;
      $offset-bottom: 5;
      margin-bottom: #{$offset-bottom}px;

      &:after {
        top: -#{$circle-height / 2};
        right: calc(-#{$circle-width / 2} + #{$multiplier} * #{$offset-right});
      }
    }

    &-text {
      font-size: $subtitle-size;
    }
  }
  
  &__bg-shape {
    position: absolute;
    top: 100%;
    right: 0;

    transform: translateY(-50%);
    
    & > img {
      transform: rotateY(180deg) ;
    }
  }
}