@import "../local_modules/smart-grid/smart-grid.scss";
@import './common/_variables.scss';

@import './common/header.scss';
@import './index/about.scss';
@import './index/services.scss';
@import './index/advantages.scss';
@import './index/sales.scss';


.title-underline {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 115px;
    height: 2px;
    background-color: $clr-white;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.color-orange {
  color: $clr-orange;
}

.text-underline {
  text-decoration: underline;
}

