$clr-orange: #f98125;
$clr-white: #FFF;

.menu {
  color: $clr-white;
  background: $clr-orange;
  height: 50px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__burger {
    $line-height: 3px;
    $line-width: 22px;
    $line-space: 4px;

    position: relative;
    width: $line-width;

    &-middle {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 100%;
      height: $line-height;
      background: $clr-white;
      border-radius: 10px;

      &:before {
        content: '';
        display: block;

        position: absolute;
        bottom: calc(100% + #{$line-space});
        left: 0;

        width: 100%;
        height: inherit;
        background: inherit;
        border-radius: 10px;
      }

      &:after {
        content: '';
        display: block;

        position: absolute;
        top: calc(100% + #{$line-space});
        left: 0;

        width: 100%;
        height: inherit;
        background: inherit;
        border-radius: 10px;
      }
    }
  }
}

.about {
  $title-xs: 35px;
  $subtitle-xs: 14px;

  position: relative;
  background: url("../images/about-bg-xs.jpg") no-repeat;
  background-size: cover;
  padding: 100px 0 200px;

  color: $clr-white;

  &__title-xs {
    font-size: $title-xs;
    font-weight: 700;

    margin-bottom: 15px;
  }

  &__subtitle-xs {
    font-size: $subtitle-xs;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.1em;

    margin-bottom: 50px;
  }

  &__button {

    & > input {
      appearance: none;
      display: none;
    }

    & > label {
      background: transparent;
      border: 4px solid $clr-orange;
      padding: 22px 19px;
      position: relative;
      border-radius: 50px;
      z-index: 1;

      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      text-align: center;
      color: inherit;
      letter-spacing: 0.185em;

      &:hover {
        cursor: pointer;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: 8px;

        z-index: -1;

        width: 184px;
        height: 62px;
        border: 4px solid #5126FF;
        box-sizing: border-box;
        border-radius: 50px;

        transition: all .3s ease;
      }

      &:active:before  {
        top: 0;
        left: 0 ;
      }
    }
  }

  &__bg-shape {
    position: absolute;
    bottom: 0;
    left: 0;

    & > img {
      display: block;
    }
  }
}

