@import "../local_modules/smart-grid/smart-grid.scss";
@include reset();

@import "./common/_variables.scss";
@import "./components/_buttons.scss";

html {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  @include wrapper();
}

section {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.title-underline {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 115px;
    height: 2px;
    background-color: $clr-white;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);

    @include md(width, 220px);
  }
}

.color-orange {
  color: $clr-orange;
}

.text-underline {
  text-decoration: underline;
}

/*------------------------------------------------*/
/*--------------------- FONT ---------------------*/
h1 {
  font-size: $title-size;
  font-weight: $title-weight;

  @include sm-block() {
    font-size: $title-size-sm;
  };

  @include md-block() {
    line-height: 100%;
    font-size: $title-size-md;
  };
}

h2 {
  font-size: $subtitle-size;
  font-weight: $subtitle-weight;

  @include sm-block() {
    font-size: $subtitle-size-sm;
  };

  @include md-block() {
    font-size: $subtitle-size-md;
  };
}

h3 {
  font-size: $h3-size;
  font-weight: $h3-weight;
  @include sm-block() {
    font-size: $h3-size-sm;
  };
  @include md-block() {
    font-size: $h3-size-md;
  };
}

p {
  font-size: $paragraph-size;
  font-weight: $paragraph-weight;

  @include sm-block() {
    font-size: $paragraph-size-sm;
  };
}

/*------------------------------------------------*/
