@import "../local_modules/smart-grid/smart-grid.scss";
@include reset();

@import "./common/_variables.scss";
@import "./components/_buttons.scss";

html {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  @include wrapper();
}

section {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.title-underline {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 115px;
    height: 2px;
    background-color: $clr-white;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.color-orange {
  color: $clr-orange;
}

.text-underline {
  text-decoration: underline;
}

/*------------------------------------------------*/
/*--------------------- FONT ---------------------*/
h1 {
  font-size: $title-size;
  font-weight: $title-weight;
}

h2 {
  font-size: $subtitle-size;
  font-weight: $subtitle-weight;
}

h3 {
  font-size: $h3-size;
  font-weight: $h3-weight;
}

p {
  font-size: $paragraph-size;
  font-weight: $paragraph-weight;
}

/*------------------------------------------------*/
